<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
  <!-- list_path name determined by route.rb: resourcename_path -->
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "New List", new_list_path %>
