<h1><%= @list.name %></h1>

<!-- link_to takes the arguments: string(for html), URI path, 3rd argument can be html classes hash  -->
<!-- name is determined in the routes.rb file so: lists_path -->
<p><%= link_to "Edit", edit_list_path(@list) %></p>
<p><%= link_to "Delete", list_path(@list),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
